@inject HttpClient http

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="CallApi">Test connection</button>


@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}


@code {
    string message = string.Empty;



    private async Task CallApi()
    {
        try
        {

            var response = await http.GetStringAsync("api/test/ok");
            message = response;
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}
