@inject HttpClient Http
@inject NavigationManager Nav
@inject IJSRuntime JS
@inject Services.AuthService authService

@page "/login"

<h3>Login</h3>

<div class="form">
    <EditForm Model="@model" OnSubmit="Submit">
        <label>Brugernavn</label>
        <InputText type="text" @bind-Value="model.Username" />
        <br><br>
        <label>Adgangskode</label>
        <InputText type="password" @bind-Value="model.Password" />
        <br><br>

        <button type="submit">Login</button>
    </EditForm>
    @if (!string.IsNullOrEmpty(message))
    {
        <br>
        <p>@message</p>
    }
</div>

@code {
    private LoginFormModel model = new();

    private string message = string.Empty;


    private async Task Submit()
    {
        var response = await Http.PostAsJsonAsync("api/auth/login", model);

        if (!response.IsSuccessStatusCode)
        {
            Console.WriteLine("Login failed");
            model.Password = "";
            message = $"Brugernavn og adganskode matcher ikke";
            return;
        }

        var token = await response.Content.ReadFromJsonAsync<string>();
        await JS.InvokeVoidAsync("localStorage.setItem", "jwt", token);

        await authService.SetToken(token!);
        Nav.NavigateTo("/");
    }

    public class LoginFormModel
    {
        public string Username;
        public string Password;
    }
}
